#contactStine {
  // background: $gray-900;
  // color: white;
  min-height: 90vh;
}

.contact-lead {
  text-align: center;
}

.contact-form {
  margin-top: .5rem;
  padding-top: 2.5rem;
}

// input[type="text"] {
//      border-top: 0;
//      border-right: 0;
//      border-left: 0;
//
//      -webkit-box-shadow: none;
//      box-shadow: none;
// }
