// Grays
$dark-gray:     #151617;


$border-radius: 0.15rem;

$btn-border-radius:              $border-radius;
$btn-border-radius-lg:           $border-radius;
$btn-border-radius-sm:           $border-radius;


$font-size-base: 1rem;
$font-size-lg:   1rem;
$font-size-sm:   1rem;
