:root {
  font-size: 16px;
}
// Containers
#headerContainer {
  position: relative;
  .header-row {
    min-height: calc(100vh - 40px);
  }
  .header-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
    z-index: -1;
  }
}

#buildYourOwnTable, #tableCollections {
  min-height: 100vh;
}


// Navigation
.navbar {
  padding: 2rem 14rem;
}
.nav-link {
  @extend .d-inline;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  flex: 0 0 60px;
  img {
    max-width: 100%;
  }
}
