:root {
  font-size: 16px;
}
// Containers
#headerContainer {
  position: relative;
  .header-row {
    min-height: calc(100vh - 40px);
  }
  .header-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
    z-index: -1;
  }
}

#buildYourOwnTable, #tableCollections {
  min-height: 100vh;
}


// Navigation
.navbar {
  padding: 2rem 14rem;
}
.nav-link {
  @extend .d-inline;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  flex: 0 0 60px;
  font-size: 26px;
}

button.navbar-toggler {
  background: none;
  border: none;
  position: relative;
  padding-right: 2rem;
  .menu-btn {
    font-size: 15px;
    font-weight: bolder;
  }
  span.top, span.bottom {
    display: block;
    background: #2d2d2d;
    width: 20px;
    height: 3px;
    position: absolute;
    right: 0px;
  }
  span.top {
    top: 6px;
  }
  span.bottom {
    top: 14px;
  }
  &:focus, &:active {
    outline: none;
  }
}

// header styles
.header-text {
  animation-duration: 1s;
  h1 {
    strong {
      font-weight: 800;
    }
  }
  p.lead {
    max-width: 50%;
  }
}
